%p#notice= notice

%p
  %b :
  = @test_haml.
%p
  %b Haml int:
  = @test_haml.haml_int
%p
  %b Haml float:
  = @test_haml.haml_float
%p
  %b Haml text:
  = @test_haml.haml_text

= link_to 'Edit', edit_test_haml_path(@test_haml)
\|
= link_to 'Back', test_hamls_path
